@use './variables.scss' as *;

.footer{
    color: white;
    background-color: $footer-color;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 18px;
    text-align: center;
    font-family: $body-font;
}