$brand-color: #18659E;
$menuBorder-color: #004B84;
$footer-color: #005991;
$bg-color: #FFFFFF;

//font: 
$nav-font: 'Roboto Condensed Bold', sans-serif;
$heading-font: 'Roboto Condensed', sans-serif;
$body-font: 'Roboto Light', sans-serif;
